@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-primary: #FF6600;
    --color-background: #FFFFFF;
    --color-text: #000000;
    --color-text-secondary: #777777;
}

* {font-family: Roboto, sans-serif;}